[submodule "2021-01-27-rerun-ginger-scripts/nci_ndr"]
	path = 2022-01-27-rerun-groundwater-concentrations/nci_ndr
	url = https://github.com/vakowal/nci_ndr.git
[submodule "2022-03-03-rerun-noxn-levels/natcap-noxn-levels"]
	path = 2022-03-03-rerun-noxn-levels/natcap-noxn-levels
	url = git@code.stanford.edu:jdouglass/natcap-noxn-levels.git
[submodule "ndr_plus_global_pipeline"]
	path = ndr_plus_global_pipeline
	url = https://github.com/phargogh/ndr_plus_global_pipeline.git
[submodule "natural-capital-index"]
	path = natural-capital-index
	url = git@github.com:natcap-nci/natural-capital-index.git
[submodule "NCI_Score"]
	path = NCI_Score
	url = git@github.com:natcap-nci/NCI_Score.git
